name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - feature-refactorTaskCrud
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: Get Short SHA
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        workload_identity_provider: projects/todoapi-482413/locations/global/workloadIdentityPools/github-pool/providers/github
        service_account: gha-docker@todoapi.iam.gserviceaccount.com

    - name: Configure Docker for Artifact Registry
      run: gcloud auth configure-docker asia-south1-docker.pkg.dev

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          docker.io/${{ secrets.DOCKER_USERNAME }}/todoapiapp:${{ steps.vars.outputs.sha_short }}
          docker.io/${{ secrets.DOCKER_USERNAME }}/todoapiapp:latest
          asia-south1-docker.pkg.dev/todoapi/todo-repo/todoapiapp:${{ steps.vars.outputs.sha_short }}
          asia-south1-docker.pkg.dev/todoapi/todo-repo/todoapiapp:latest
